{% extends "bootstrap/base.html" %}


{% block title %}please{% endblock %}

{% block body_attribs %}
style="background-color:lightgrey"
{% endblock %}

{% block content %}
<div class="container-fluid">
  <h1 style="text-align:center">
    Ballyhoo
  </h1>
    <div style="text-align:center">
      <label>Look Up Hook</label>
      <input id="hook" text="text" style="width:500px;"placeholder="Hooks">
      <button id="button1"> search</button>
    </div>
    <div class="container" style="text-align:center">
      <h1 ><strong id="error_message"></strong></h1>
      <div id="header">
        <ul class="tabs" style="list-style-type:none">
        </ul>
      </div>
    </div>
  </div>
  <script type=text/javascript>
    $("#button1").click(function(event) {
      var input = $("#hook").val()
      var cars = {'hooks': input};
      event.preventDefault();
      event.stopPropagation();
      $.post({
        url: "getHooks",
        type: "POST",
        dataType:'json',
        contentType: 'application/json',
        data: JSON.stringify(cars),
        success: function(data){
            console.log(Object.keys(data).length);
            $("#header ul").empty()
            if(Object.keys(data).length != 0) {
              $('#error_message').text('')
              for(key in data) {
                for(var i = 0; i < data[key].length; i++){
                  if(data[key][i][0][4] == 's'){
                    url_str = data[key][i][0].slice(0,4) + data[key][i][0].slice(5,data[key][i][0].length)

                  } else {
                    url_str = data[key][i][0]
                  }
                  console.log(url_str)
                  $("#header ul").append('<li><a href="' + url_str+ '"><span class="tab">'+data[key][i][1]+'</span></a></li>');
                }
              }
            } else {
              $('#error_message').text('Error Occurred!')
            }
        }
      });

    })
  </script>
</div>
{% endblock %}
